@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

.bdy{
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: whitesmoke;
    border-radius: 10px;
    z-index: 1 !important;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(112, 215, 255);
    border-radius: 10px;
}

/* Timeline*/
.timeline-container {
    padding: 5px 0;
  }
  
  .timeline-item {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .timeline-item.left::before,
  .timeline-item.right::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    width: 10px;
    height: 10px;
  }
  
  .timeline-item.left::before {
    left: 125%;
    border-right-color: #6c757d;
  }
  
  .timeline-item.right::after {
    left: -125%;
    border-left-color: #6c757d;
  }
  
  .timeline-item-content {
    padding: 10px;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
  }
  
  .timeline-item-content h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .timeline-item-content p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .timeline-item-content small {
    font-size: 12px;
    color: #6c757d;
  }

.btn{
    border:1px solid rgb(0, 178, 248) !important;
}

.bg-scroll{
    overflow-y: scroll !important;
    height: 80px !important;
}

.btn:hover{
    background-color: rgb(0, 178, 248) !important;
    color:white !important;
}

.me{
    color:rgb(0, 178, 248) !important;
}

.back{
    background-color: rgb(0, 178, 248) !important;
}

a:hover{
    color:rgb(0, 178, 248) !important;
}

a{
    text-decoration: none !important;
}

.par{
    text-align: justify !important;
}

@media (max-width:425px){
    #yc{
        padding-top: 0px !important;
    }
}