@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

.bdy{
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
}

.btn{
    border:1px solid rgb(0, 178, 248) !important;
}

.btn:hover{
    background-color: rgb(0, 178, 248) !important;
    color:white !important;
}

.me{
    color:rgb(0, 178, 248) !important;
}

.back{
    background-color: rgb(0, 178, 248) !important;
}

a:hover{
    color:rgb(0, 178, 248) !important;
}

a{
    text-decoration: none !important;
}

.par{
    text-align: justify !important;
}